{% extends "admin/index.html" %}

{% block innerpage %}
<style>
	.item span{
		border: solid 1px black;
		margin: 2px;
		padding: 2px;
	};
</style>
<h2 >
        Редактировать заказ
</h2>
<form method="post">
<div class="row">
    <div class="col-3">
		Заказчик:
    </div>
    <div class="col">
        {{object.username}}
    </div>
</div>
<div class="row">
    <div class="col-3">
		Дата: 
    </div>
    <div class="col">
        {{object.date}}
    </div>
</div>

<div class="row">
    <div class="col-3">
		Адрес: 
    </div>
    <div class="col">
        {{object.address}}
    </div>
</div>
<div class="row">
    <div class="col-3">
        Товары:
    </div>
    <div class="col item">
		<ul>
			{% for obj in object.items %}
				<li><span>{{ obj.item_name }}</span><span>{{ obj.price }} руб. </span><span>{{ obj.cnt }} шт.</span>
			{% endfor %} 		
		</ul>
    </div>
</div>
<div class="row">
    <div class="col-3">
		Сумма: 
    </div>
    <div class="col">
        {{object.sum}}
    </div>
</div>

<div class="row">
    <div class="col-3">
        Комментарий:
    </div>
    <div class="col">
        <input type="text" name="comment" value="{{ object.comment }}" class="form-control">
    </div>
</div>


<div class="row">
    <div class="col-3">
        Товары:
    </div>
    <div class="col">
        <select name="status"  class="form-control">
			<option value="0" >Подтверждение...</option>
			<option value="1" >Ожидает оплаты</option>
			<option value="2" >Ожидает отправки</option>
			<option value="3" >Отправлен</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <input type="submit"  value="Сохранить" class="btn btn-primary">
        {% if showdel %}
            <a href="/admin/orders/del/{{ object._id }}" class="btn btn-danger" id="delbtn">Удалить</a>
        {% endif %}
    </div>
</div>
</form>

<script>
    $("#delbtn").click(()=>{
        if (!confirm("Удалить?")) return false;
    });
    $("select option[value={{object.status}}]").attr("selected", "selected")
</script>
{% endblock %}

