{% extends '_base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Главная</a></li>
		<li class="breadcrumb-item active" aria-current="page"><a href="##">Заказы</a></li>
	</ol>
</nav>
<h1>Ваши заказы</h1>
	{% if orders|length == 0 %}
		<p> У вас нет заказов </p>
	{% else %}
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th> Дата 
					<th> Состояние
					<th> Комментарий
					<th> Сумма
			<tbody>
		{% set stat = {'0': "Подтверждение...", '1': "Ожидает оплаты", '2': "Ожидает отправки", '3': "Отправлен"} %}
		{% for order in orders %}
			<tr>
				<td><a href="/order/{{order._id}}">{{ order.date }}</a>
				<td>{{ stat[order.status|string] }}
				<td>{{ order.comment|truncate(32) }}
				<td>{{ order.sum }}
			</tr>
		{% endfor %} 
			</tbody>
		</table>
	{% endif %}
{% endblock %}
